.notificationItem {
  display: flex;
  gap: 12px;
  padding: 16px;
  /* margin-bottom: 20px; */
  border-bottom: 1px solid #cfcfcf;
  border-radius: 8px;
  background-color: #fff;
  align-items: flex-start;
}

.pac-container {
  position: relative !important;
  top: -125% !important; /* Ensures suggestions appear directly below the input */
  left: 40 !important; /* Aligns the suggestion box with the input */
  right: 200px !important; /* Stretches it across the width of the input */
  z-index: 1000 !important; /* Ensures it appears on top of other elements */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1) !important; /* Adds shadow */
}

.iconContainer {
  width: 36px;
  height: 36px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  flex: 1;
}

.topRow {
  display: flex;
  justify-content: space-between;
}

.title {
  font-weight: 600;
  color: #000;
  font-size: 16px;
}

.description {
  margin-top: 4px;
  font-size: 14px;
  color: #707070;
}

.time {
  display: flex;
  align-items: center;
  font-size: 13px;
  color: #aaa;
}

.clockIcon {
  margin-right: 4px;
  width: 14px;
  height: 14px;
}

.emptyState {
  text-align: center;
  margin-top: 40px;
  color: #666;
}

.emptyImage {
  /* max-width: 180px; */
  /* margin: 0 auto 16px; */
  width: 1900px;
  padding: 20%;
  margin-left: 40%;
}

/* 🔻 Mobile Optimization */
@media (max-width: 768px) {
  .notificationItem {
    padding: 10px;
    gap: 6px;
    margin-bottom: 10px;
  }

  .iconContainer {
    width: 26px;
    height: 26px;
    border-radius: 6px;
  }

  .title {
    font-size: 12px;
  }

  .description {
    font-size: 10px;
  }

  .time {
    font-size: 8px;
  }

  .clockIcon {
    margin-right: 2px;
    width: 10px;
    height: 10px;
  }
}

@media (max-width: 425px) {
  .notificationItem {
    padding: 4px;
    gap: 4px;
    margin-bottom: 7px;
  }

  .iconContainer {
    width: 21px;
    height: 21px;
  }

  .title {
    font-size: 9px;
  }

  .description {
    font-size: 8px;
  }

  .time {
    font-size: 6px;
  }

  .clockIcon {
    margin-right: 2px;
  }
}
