

.billingcontainer {
  width: 100%;
  max-width: 500px;
  top: 0;
  right: 0;
  background-color: #f4f7f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 44px 44px 44px 19px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.billingheading {
  color: #0e144a;
  font-family: Averta;
  font-weight: bold;
  font-size: 32px;
  line-height: 100%;
  margin-bottom: 24px;
}

.appointmentcard {
  background-color: #fff;
  padding: 40px 20px 20px 20px;
  border-radius: 10px;
  margin: 40px 0 24px 0;
  width: 100%;
  max-width: 440px;
  height: auto;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
}

.appointmentrow {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 16px;
  width: 100%;
}

.locationRow {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 2px;
  width: 100%;
}

.appointmentfrequency {
  flex-shrink: 0;
  font-family: Poppins;
  font-weight: 600;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.003em;
  color: #2b3641;
  margin-bottom: 4px;
  height: 20px;
  width: auto;
  max-width: 108px;
}

.appointmenttime,
.changelocation {
  font-family: Poppins;
  font-weight: 600;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.003em;
  color: #1a78f2;
  margin-top: 10px;
  cursor: pointer;
  white-space: nowrap;
}

.changelocation {
  font-size: 14px;
}

.divider {
  border-top: 1px solid #bcc2c8;
  opacity: 0.5;
  margin-top: 15px;
  width: 100%;
  max-width: 400px;
}

.locationtext {
  font-family: Poppins;
  font-weight: 600;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.003em;
  color: #2b3641;
  margin-top: 10px;
  white-space: nowrap;
}

.pricingbox {
  width: 100%;
  max-width: 440px;
  height: auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  margin: 40px 0 24px 0;
  font-family: Poppins;
  font-weight: 600;
  font-size: 16px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.pricingrow,
.subtotalrow,
.taxrow,
.totalrow {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: nowrap;
}

.subtotalrow,
.taxrow {
  margin-top: 17px;
  margin-bottom: 8px;
  color: #88939d;
}

.totalrow {
  padding-top: 12px;
}

.totalvalue {
  color: black;
}

.buttoncontainer {
  text-align: center;
  margin-top: 40px;
  width: 100%;
}

.nextbutton {
  width: 100%;
  max-width: 180px;
  height: 60px;
  font-family: Poppins;
  font-weight: 600;
  font-size: 18px;
  background-color: #36b864;
  color: #fff;
  border-radius: 12px;
  border: none;
  outline: none;
}
