.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: #fafafa; */
  padding: 0 16px;
  height: 70px;
  /* border: none; */
}

.title {
  font-family: 'Public Sans', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 22px;
  color: #23272E;
  margin: 0;
}

.right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.iconBtn {
  background: none;
  border: none;
  cursor: pointer;
 
}

.avatarBtn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.avatarImg {
  border-radius: 50%;
  width: 56px;
  height: 56px;
  object-fit: cover;
}
@media screen and (max-width: 600px) {

  .title {
  font-size: 18px;
}
.header {
  padding: 0 6px;
}
.avatarImg {
  border-radius: 40%;
  width: 40px;
  height: 40px;
}
}
