.sidebar {
  width: 260px;
  /* height: 100vh; */
  /* height: 900px; */
  background-color: white;
  border-right: 1px solid #B2B2B2;
  display: flex;
  flex-direction: column;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  margin: 20px;
}

.divider {
  width: 100%;
  margin-bottom: 8px;
  border: 1px solid #BEBEBE;
}

.navList {
  list-style: none;
  padding: 24px;
  border-radius: 6px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.navList li a {
  color: #8B909A;
  font-size: 15px;
  font-weight: 400;
  font-family: 'Public Sans', sans-serif;
}

.navLink {
  padding: 10px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  color: #8B909A;
  transition: background-color 0.3s, color 0.3s;
}

/* .navLink i {
  margin-right: 8px;
  transition: color 0.3s;
} */

.navLink:hover {
  background-color: #0F60FF;
  color: #FFFFFF;
}


/* .active {
  background-color: #007bff;
  color: #fff !important;
}

.active i {
  color: #fff !important;
  background-color: #007bff;
}  */

.iconText {
  display: flex;
  align-items: center;
  gap: 8px;
  /* clean spacing between icon and text */
}

.logoutBtnn {
    width: 90%;
  max-width: 232px;
  height: 40px;
  background-color: #EF450F;
  color: white;
  border: none;
  border-radius: 6px;
  align-self: center;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
}

@media screen and (max-width: 770px) {

  .sidebar {
    width: 200px;
  }

  .logoContainer {
    width: 122px;
  }

  .navList {
    padding: 12px;
    gap: 15px;
  }

  .navLink {
    padding: 10px;
  }

}

@media screen and (max-width: 600px) {

  .sidebar {
    width: 100px;
    
  }

  .logoContainer {
    width: 50px;
  }

  .navlist {
    padding: 0px;
    gap: 12px;
    
  }
    .navLink {
    padding: 2px;
  }
  .navList li a {
  font-size: 8px;
 
}
.logoutBtnn {
  height: 30px;
  /* margin-top: 5px; */
  /* margin-bottom: 125px; */
  font-size: 11px;
  
}

}

