.main {
  max-height: 38px;
  font-family: "Inter", sans-serif;
  max-width: 1108px;
  margin: 20px;
}

.tabWrapper {
  width: 110%;
  border-bottom: 1px solid #ccc;
  max-width: 1208px;
  margin-left: 20px;
}

.tabs {
  font-family: "Public Sans", sans-serif;
  width: 110%;
  font-size: 15px;
  margin-left: -13px;
  color: #8b909a;
  flex-wrap: wrap;
}

.tabbutton {
  background: none;
  border: none;
  margin-left: 13px;
  border-bottom: 1px solid transparent;
  cursor: pointer;
  color: #8b909a;
  padding-left: 8px;
  padding-right: 8px;
  white-space: nowrap; /* prevent breaking inside tab text */
}

.active {
  color: #3b82f6;
  border-color: #3b82f6;
}
@media (max-width: 600px) {
  .tabs {
    gap: 0.5rem;
    font-size: 12px;
  }
}
