.main {
  /* min-height: 420px; */
  font-family: "Inter", sans-serif;
  background-color: white;
  box-shadow: 0px 4px 4px 0px #00000040;
  display: flex;
  flex-direction: column;
  margin: 20px;
  margin-top: 85px;
  padding: 20px;
  width: 100%;
}
.rowHeader {
  color: #8b909a;
  padding: 4px 0;
  display: flex;
  flex-direction: row;
  grid-row: 8px;
  font-size: 13px;
  font-family: "Public Sans", sans-serif;
  border-bottom: 2px solid #e9e7fd;
}

/* .scrollContainer {
  margin-top: 1px;
  max-height: 40vh;
  overflow-y: auto;
  overflow-x: auto;
  padding-right: 20px;
  scrollbar-width: thin;
  scrollbar-color: #9a9696 #d6d6d6;
} */
.gridContainerHistory {
  display: grid;
  grid-template-columns:
    minmax(80px, 0.5fr) /* Order ID */
    minmax(100px, 0.6fr) /* Service */
    minmax(150px, 1fr) /* Details */
    minmax(80px, 0.5fr) /* Price */
    minmax(80px, 0.4fr) /* Time */
    minmax(100px, 0.4fr) /* Date */
    minmax(100px, 0.4fr) /* Status */
    minmax(110px, 0.6fr); /* Reschedule */
  gap: 1rem; /* spacing between columns */
  overflow: hidden;
}

.row {
  color: #000000;
  padding: 10px 0;
  font-size: 15px;
  font-weight: 400;
  font-family: "Roboto Flex", sans-serif;
  border-bottom: 2px solid #cfcfcf;
}
.statusButton {
  width: 100%;
  border-radius: 30px;
  height: 32px;
  border: 1px solid;
  background-color: transparent;
  font-weight: 500;
  font-size: 14px;
  /* padding: 6px; */
  cursor: default;
  transition: border-color 0.3s ease, color 0.3s ease;
}
.completedButton {
  width: 103px;
  border-radius: 30px;
  height: 30px;
  border: 1px solid #0f9918;
  color: #0f9918;
  background-color: transparent;
  font-weight: 500;
  font-size: 14px;
  cursor: default;
  transition: border-color 0.3s ease, color 0.3s ease;
}
.rescheduleButton {
  width: 81px;
  height: 30px;
  border-radius: 30px;
  background-color: #1a78f2;
  color: white;
  border: none;
  font-size: 14px;
  cursor: pointer;
}
.gridContainerHistory {
  display: grid;
  grid-template-columns:
    minmax(80px, 0.5fr)
    /* Order ID */
    minmax(100px, 0.6fr)
    /* Service */
    minmax(150px, 1fr)
    /* Detail */
    minmax(80px, 0.5fr)
    /* Time */
    minmax(80px, 0.4fr)
    /* Date */
    minmax(100px, 0.4fr)
    /* Status */
    minmax(100px, 0.4fr);
  /* Reschedule */
  gap: 1.5rem;
  overflow: hidden;
}
