.wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 1rem;
    height: 100vh;
    box-sizing: border-box;
    overflow: auto;
}

.header {
    width: 100%;
}
/* -------------------------------- */
.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin:0;
    font-family: 'Roboto Flex', sans-serif;
}

.image {
    display: flex;
    /* width: 185px; */
    height: auto;
    max-width: 100%;
}
.title {
    font-weight: 600;
    font-size: 20px;
    line-height: 152%;
    color:#303030;
}
.paragraph {
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color:#9E9E9E;
}

@media screen and (max-width: 600px) {
.image {
    max-width: 40%;
}
.title {
    font-size: 13px;
}
.paragraph {
    font-size: 10px;
}
  .container {

    height: 100vh;
    justify-content: normal;
    margin-top: 47px;
    
 
}

}
@media (max-width: 800px) {
.image {
    max-width: 50%;
}
.title {
    font-size: 14px;
}
.paragraph {
    font-size: 11px;
}
  .container {

    height: 100vh;
    justify-content: normal;
    margin-top: 50px;
    
 
}

}