.main {
  padding-top: 30px;
  padding-left: 30px;
  /* font-family: 'Poppins, sans-serif'; */
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100vw;
  box-sizing: border-box;
  margin-top: 5px;
}
.paragraph {
  font-size: 14px;
  font-weight: 600;
}

.label {
  font-size: 16px;
  color: #88939D;
  line-height: 23px;
}

.content {
  font-weight: 400;
  color: #88939D;
  line-height: 19px;
}

.customblock {
  width: 500px;
  height: 73px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 10px;
  border: 2px solid #ccc;
}

.customblock.selected {
  border: 2px solid #1a78f2;
}

.customRadio {
  width: 26px;
  height: 26px;
  appearance: none;
  border: 2px solid #88939D;
  border-radius: 50%;
  /* Circular shape */
  background-color: white;
  cursor: pointer;
  position: relative;
}

.title {
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
}

.selected {
  border: 2px solid #1a78f2;
  /* blue outline */
  background-color: white;
  outline: none;
}

.selected span,
.selected p {
  color: #1a78f2 !important;
}

.customRadio {
  position: relative;
  appearance: none;
  width: 24px;
  height: 24px;
  border: 2px solid #ccc;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.customRadio:checked {
  border: 2px solid #1a78f2;
  /* Change the outer circle border to blue */
}

.customRadio:checked::before {
  content: "";
  width: 12px;
  height: 12px;
  background-color: #1a78f2;
  border-radius: 50%;
}

.form {
  display: flex;
  margin-top: 2px;
}

.formlabel {
  display: block;
  flex-direction: column;
  margin-top: 30px;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 1%;
  color: #9FA7B0;
  /* margin-bottom: 20px; */
}

.forminput {
  font-size: 16px;
  display: block;
  margin-top: 4px;
  letter-spacing: 0.3%;
  font-weight: 600;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: 2px solid #D3D8DD;
  background-color: white;
  padding: 10px;
  box-sizing: border-box;
}

.forminput:focus {
  border-color: #1a78f2;
  color: #1a78f2;
  outline: none;
}

.text {
  color: #88939D;
  font-size: 20px;
  list-style: 25px;
  letter-spacing: -0.46%;
  margin-top: 20px;
  font-weight: 400;
}


.subheading {
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 1%;
}

.buttons {
  width: 83px;
  height: 36px;
  font-size: 14px;
  font-weight: 500;
  line-height: 29px;
  background-color: white;
  color: #88939D;
  /* margin-left: 20px; */
  border: none;
  border-radius: 39px;
}

.buttons.active {
  background-color: #36B864;
  color: white;
  border-radius: 39px;
}

.forminput::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  color: #88939D;
}

