.main {
  min-height: 420px;
  font-family: 'Inter', sans-serif;
  background-color: white;
  box-shadow: 0px 4px 4px 0px #00000040;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  margin: 20px 20px 0 20px;
}

.container {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 58px 40px 40px 65px;
  box-sizing: border-box;
}

.profileFormRow {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.label {
  font-size: 16px;
  color: #696f79;
  display: block;
  margin-bottom: 10px;
}

.input {
  width: 437px;
  max-width: 100%;
  height: 64px;
  padding: 10px;
  border: 1px solid #8692A6;
  border-radius: 6px;
  box-sizing: border-box;
}

.input::placeholder {
  color: #8692A6;
  font-size: 14px;
}

.buttonContainer {
  display: flex;
  align-items: flex-end;
}

.button {
  width: 196px;
  max-width: 100%;
  height: 64px;
  font-size: 16px;
  background-color: #1565D8;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  box-sizing: border-box;
}

/* Responsive Styles */
@media (max-width: 1024px) {
  .container {
    padding: 54px 49px 48px 61px;
  }
}

@media (max-width: 768px) {
  .main {
    min-height: 100px;
    margin: 10px !important;
  }

  .container {
    gap: 11px;
    padding: 37px 36px 49px 56px;
  }

  .input {
    width: 100%;
    height: 50px;
  }

  .button {
    width: 147px !important;
    height: 52px;
    font-size: 14px !important;
  }

  .label {
    font-size: 14px;
  }

  .profileFormRow {
    flex-direction: row;
    gap: 6px;
    margin-bottom: 10px;
  }
}

@media (max-width: 680px), (max-width: 380px) {
/* @media (max-width: 480px){ */

  .main {
    margin: 10px !important;
  }

  .container {
    gap: 6px;
    padding: 18px !important;
  }

  .input {
    width: 100%;
    height: 35px !important;
    padding: 2%;
  }

  .button {
    width: 100% !important;
    margin-top: 13px;
    height: 40px !important;
    font-size: 10px !important;
  }

  .label {
    font-size: 10px !important;
    margin-bottom: 6px;
  }

  .input::placeholder {
    font-size: 9px;
  }

  .profileFormRow {
    gap: 6px;
    margin-bottom: 10px;
  }
}
