.main {
    width: 1440px;
    height: 831px;
    padding-top: 5%;
    font-family: 'Inter', sans-serif;
}

.signupmain {
    width: 1440px;
    height: 1024px;
    padding-top: 5%;
    font-family: 'Inter', sans-serif;
    padding-left: 20px;
}

.container {
    display: flex;
}

.signupbackbutton {
    color: #8692A6;
    font-size: 16px;
    background: none;
    border: none;
    font-weight: 600;
    padding-left: 48px;
}

.closeButton {
    display: flex;
    background: none;
    border: none;
    cursor: pointer;
    margin-top: 90px;
    padding-left: 40px;
}

.backsign {
    color: #8692A6;
    font-size: 18px;
    font-weight: 600;
    width: 20px;
    height: 20px;
}

.backButton {
    color: #8692A6;
    font-size: 16px;
    font-weight: 600;
}

.title,
.signuptitle {
    font-size: 30px;
    font-weight: bold;
    color: black;
    margin-top: 15%;
}

.label,
.signuplabel {
    font-size: 16px;
    font-weight: 500;
    color: #696F79;
    margin-top: 26px;
    margin-bottom: 14px;
}

.charlabels {
    font-size: 11px;
    font-weight: 500;
    color: #696F79;
    margin-top: 24px;
    line-height: 100%;
}

.minilabel {
    font-size: 12px;
    font-weight: 700;
    color: #1565D8;
    margin-bottom: 20px;
    margin-top: 20px;
}

.button-loader-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.button-loader {
    border: 3px solid #fff;
    border-top: 3px solid #007bff;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    animation: spin 0.6s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.signupminilabel {
    font-size: 12px;
    font-weight: 700;
    color: #1565D8;
    margin-top: 5px;
}

.signupfooterlabel {
    font-size: 12px;
    font-weight: 400;
    color: #5A5A5A;
    margin-top: 12px;
    margin-left: 60px;
}

.react-phone-input-2 .flag-dropdown,
.react-phone-input-2 .flag-dropdown.open,
.react-phone-input-2 .flag-dropdown:focus,
.react-phone-input-2 .flag-dropdown:active {
    background-color: #FFFFFF !important;
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
    transition: none !important;
    height: 18px !important;
    width: 24px !important;
}

.react-phone-input-2 .selected-flag.open {
    background-color: #FFFFFF !important;
    border-radius: 6px 0 0 6px;
    /* keep your rounded corners */
    box-shadow: none !important;
    /* remove any shadows if needed */
    border: 1px solid #4dd0e1;
    /* optional: add border to highlight */
    height: 18px !important;
    width: 24px !important;
}

.react-phone-input-2 .flag-dropdown:focus-visible {
    outline: none !important;
}

.react-phone-input-2 .flag-dropdown:hover {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
    cursor: default !important;
}

.input,
.signupinput {
    width: 426px;
    height: 64px;
    font-weight: 500;
    font-size: 14px;
    color: #8692A6;
    border: 1px solid #8692A6;
    border-radius: 6px;
    vertical-align: middle;
    padding-left: 25px;
}

.smallinput {
    width: 204px;
    height: 64px;
    font-weight: 500;
    font-size: 14px;
    color: #8692A6;
    border: 1px solid #8692A6;
    border-radius: 6px;
    vertical-align: middle;
    padding-left: 25px;
}

.button,
.signupbutton {
    margin-top: 15px;
    width: 426px;
    height: 64px;
    border-radius: 6px;
    background-color: #1565D8;
    color: white;
    border: #1565D8;
}

.footerlabel {
    font-size: 12px;
    font-weight: 400;
    color: #5A5A5A;
    margin-top: 90px;
}

.leftImage {
    position: relative;
    width: 100%;
    max-width: 50%;
    height: auto;
}

.imageFill {
    object-fit: cover;
}

/* 🔽 RESPONSIVE STYLES 🔽 */
@media (max-width: 1024px) {

    .title {
        margin-top: 5%;
    }

    .leftImage {
        max-width: 500px;
        height: 504;
    }

    .closeButton {
        margin-top: 63px;
    }
}

@media (max-width: 768px) {
    .main {
        width: 600px;
        height: 600px;
    }

    .title {
        margin-top: 3%;
        font-size: 20px;
    }

    .signuptitle {
        margin-top: 2%;
        font-size: 18px;
    }

    .leftImage {
        max-width: 400px;
        height: 670px;
    }

    .signupmain {
        width: 764px;
        height: 664px;
        padding-top: 1%;
        padding-left: 4px;
        padding-right: 50px;
    }

    .closeButton {
        margin-top: 60px;
        padding-left: 10px;
    }

    .backButton {
        font-size: 13px;
    }

    .label {
        font-size: 14px;
        margin-top: 10px;
    }

    .signuplabel {
        font-size: 12px;
        margin-top: 6px;
    }

    .input {
        width: 250px;
        height: 40px;
    }

    .phoneInput {
        width: 250px !important;
        height: 40px !important;
        padding-left: 18px !important;
        font-size: 13px !important;
    }

    .smallinput {
        width: 150px;
        height: 40px;
        font-size: 13px;
        padding-left: 18px;
    }

    .signupinput {
        width: 320px;
        height: 40px;
        font-size: 13px;
        padding-left: 18px;
    }

    .button {
        width: 250px;
        height: 40px;
    }

    .signupbutton {
        width: 150px;
        height: 30px;
    }

    .minilabel {
        font-size: 12px;
    }

    .signupfooterlabel {
        margin-top: 10px;
        margin-left: 10px;
    }
}

@media (max-width: 570px) {

    .title {
        margin-top: 3% !important;
        font-size: 20px !important;
    }

    .leftImage {

        display: none;
    }

    .closeButton {
        margin-top: 20px !important;
        padding-left: 8px !important;
    }

    .backButton {
        font-size: 13px !important;
    }

    .label {
        font-size: 14px !important;
        margin-top: 8px !important;
    }

    .input {
        width: 250px !important;
        height: 40px !important;
        margin-top: 5px !important;

    }

    .button {
        width: 250px !important;
        height: 40px !important;
    }

    .minilabel {
        font-size: 10px !important;

    }
}

@media (max-width: 420px) {
    .signuptitle {
        margin-top: 30px !important;
        font-size: 13px !important;

    }

    .signupmain {
        width: 150px;
        height: 800px;
        padding-top: 2%;
        padding-left: 5px;
        padding-right: 1px;
        flex-direction: column;

    }

    .closeButton {
        margin-top: 15px !important;
        padding: 0px !important;
    }

    .signuplabel {
        font-size: 12px !important;
        margin-top: 5px !important;
        margin-bottom: 4px !important;
    }

    .charlabels {
        font-size: 9px;
        margin-top: 18px;
        width: max-content;
    }

    .signupinput {
        width: 260px !important;
        height: 40px !important;
        margin-top: 2px !important;
        font-size: 10px;
    }

    .smallinput {
        font-size: 10px;
        width: 133px;
    }

    .signuptitle {
        font-size: 12px;
        width: max-content;
    }

    .signupbackbutton {
        font-size: 7px;
        padding-left: 0px;
    }

    .signupfooterlabel {
        font-size: 9px !important;
        width: max-content;
    }

    .image {
        width: 40px;
        height: 40px;
    }

    .signupminilabel {
        font-size: 9px;

    }

}