/* Full-screen wrapper */
.wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh; /* Full viewport height */
  overflow: hidden;
}

/* Left side (Image) */
.leftImage {
  position: relative;
  width: 50%;
  height: 100%;
}

.imageFill {
  object-fit: cover;
}

/* Right side (Form) */
.main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
  padding: 2rem;
  background-color: #fff;
  height: 100%;
}

/* Form container */
.container {
  width: 100%;
  max-width: 500px;
}

/* Inner structure */
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.backButton {
  background-color: white;
  border: none;
  color: #8692A6;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.backsign {
  margin-right: 6px;
  color: #8692A6;
  font-size: 18px;
  font-weight: 600;
}

.title {
  font-size: 35px;
  font-weight: bold;
  color: black;
  text-align: center;
  font-family: 'Inter', sans-serif;
}

.label {
  font-size: 16px;
  font-weight: 500;
  color: #696F79;
  margin-top: 20px;
  margin-bottom: 10px;
}

.input {
  width: 100%;
  height: 64px;
  font-weight: 500;
  font-size: 14px;
  color: #8692A6;
  border: 1px solid #8692A6;
  border-radius: 6px;
  padding: 0 20px;
}

.password {
  position: relative;
  width: 100%;
}

.icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  cursor: pointer;
}

.minilabel {
  font-size: 12px;
  font-weight: 700;
  color: #1565D8;
  margin-top: 20px;
}

.footerlabel {
  font-size: 12px;
  font-weight: 400;
  color: #5A5A5A;
  margin-top: 25px;
}

.button {
  margin-top: 20px;
  width: 100%;
  height: 64px;
  border-radius: 6px;
  background-color: #1565D8;
  color: white;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

/* Responsive Layouts */
@media (max-width: 1024px) {
  /* .wrapper {
    height: auto;
  } */

  /* .leftImage {
    width: 45%;
  } */

  .title {
    font-size: 25px !important;
  }
}

@media (max-width: 768px) {
  .wrapper {
    flex-direction: column-reverse; /* form on top, image below */
    height: auto;
  }

 

  .main {
    width: 100%;
    height: auto;
    padding: 3rem 2rem;
  }

  .container {
    max-width: 90%;
  }
}

@media (max-width: 500px) {
  .title {
    font-size: 20px;
  }

  .input,
  .button {
    height: 55px;
  }
}
